<div class="modoNoche">
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
    <input type="checkbox" id="toggle">
</div>

<nav class="navegacionPrincipal">
    <ul class="menu">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/instructores">Instructores</a>
            <ul class="subMenu">
                <li>
                    <a href="/registroInstructor">Registra</a>
                </li>
                <li>
                    <a href="/iniciar">iniciar sesion</a>
                </li>
                <li>
                    <a href="/eliminarUsuario">eliminar instructor</a>
                </li>
                <li>
                    <a href="/retirar">retirar aprendiz</a>
                </li>
                <li>
                    <a href="/cambiarClave">olvide la contraseña</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/aprendiz">Aprendiz</a>
            <ul class="subMenu">
                <li>
                    <a href="/registroAprendiz">Registra</a>
                </li>
                <li>
                    <a href="/iniciar">iniciar sesion</a>
                </li>
                <li>
                    <a href="/eliminarUsuario">eliminar aprendiz</a>
                </li>
                <li>
                    <a href="/cambiarClave">olvide la contraseña</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/horarios">horarios</a>
        </li>
    </ul>
</nav>