<div class="modoNoche">
    <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
    <input type="checkbox" id="toggle">
</div>

<nav class="navegacionPrincipal">
    <ul class="menu">
        <li>
            <a href="">Inicio</a>
        </li>
        <li>
            <a href="#">Instructores</a>
            <ul class="subMenu">
                <li>
                    <a href="">Registra</a>
                </li>
                <li>
                    <a href="">iniciar sesion</a>
                </li>
                <li>
                    <a href="">eliminar instructor</a>
                </li>
                <li>
                    <a href="">retirar aprendiz</a>
                </li>
                <li>
                    <a href="">olvide la contraseña</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Aprendiz</a>
            <ul class="subMenu">
                <li>
                    <a href="">Registra</a>
                </li>
                <li>
                    <a href="">iniciar sesion</a>
                </li>
                <li>
                    <a href="">eliminar aprendiz</a>
                </li>
                <li>
                    <a href="">olvide la contraseña</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">horarios</a>
        </li>
    </ul>
</nav>