<%- include ('partes/_default.ejs') -%>

    <title>Document</title>
</head>
<body>
    <%- include ('partes/_navegacion.ejs') -%>

    <section class="opciones">
        <article class="bloqueOpciones">
            <h2>Registrarme</h2>
            <a href="/registroAprendiz">toca Aqui</a>
        </article>

        <article class="bloqueOpciones">
            <h2>Iniciar sesion</h2>
            <a href="/iniciar">toca Aqui</a>
        </article>

        <article class="bloqueOpciones">
            <h2>eliminar aprendiz</h2>
            <a href="/eliminarUsuario">toca Aqui</a>
        </article>

        <article class="bloqueOpciones">
            <h2>Olvide la contraseña</h2>
            <a href="/cambiarClave">toca Aqui</a>
        </article>


    </section>
</body>
</html>