<%- include ('partes/_default.ejs') -%>
    <title>Document</title>
</head>
<body>
    <%- include ('partes/_navegacion.ejs') -%>
    
    <section id="presentacion">
        <h3>Bienvenidos al sistema de registros e informacion del sena galan</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae iure cumque ut laudantium. Officia tempore voluptatem commodi. Magni, eaque incidunt nisi exercitationem laboriosam at voluptatibus sed nulla voluptas eius, minima, quisquam repellat totam quis laborum similique commodi reiciendis libero earum.</p>
    </section>

    <section id="sobreSena"> 
        <article class="informacion">
            <img src="../public/img/index/clase.jpg" alt="imagen del sena galan">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex odio est beatae ea tempora animi tempore, ad nostrum atque laborum nihil quod at esse in nemo dolorum minus? Accusamus amet iure quisquam quasi ipsum quibusdam culpa, voluptatum totam vero numquam!</p>
        </article>
        <article class="informacion">
            <img src="../public/img/index/Sena-Armenia-Sede-Sena-del-Quindio.webp" alt="imagen del sena galan">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex odio est beatae ea tempora animi tempore, ad nostrum atque laborum nihil quod at esse in nemo dolorum minus? Accusamus amet iure quisquam quasi ipsum quibusdam culpa, voluptatum totam vero numquam!</p>
        </article>
        <article class="informacion">
            <img src="../public/img/index/sena.png" alt="imagen del sena galan">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex odio est beatae ea tempora animi tempore, ad nostrum atque laborum nihil quod at esse in nemo dolorum minus? Accusamus amet iure quisquam quasi ipsum quibusdam culpa, voluptatum totam vero numquam!</p>
        </article>
    </section>
</body>
</html>

