<%- include ('partes/_default.ejs') -%>

    <title>Document</title>
</head>
<body>
    <%- include ('partes/_navegacion.ejs') -%>

    <section class="formularios">
        <h4>fromulario de registro</h4>
        <form action="/registrarAprendiz" method="post" class="formulario">
            <input class="controls" name="nombre" id="nombre" placeholder="ingrese su nombre" required>
            <input class="controls" type="text" name="apellido" id="apellido" placeholder="ingrese su apellido" required>
            <input class="controls" type="number" name="edad" id="edad" placeholder="ingrese su edad" required>
            <input class="controls" type="number" name="cedula" id="cedula" placeholder="ingrese su cedula" required>
            <input class="controls" type="email" name="correo" id="correo" placeholder="ingrese su correo" required>
            
            <select name="curso_fk" id="curso_fk" class="seleccionador">
                <option class="opciones">Ingrese su curso</option>
                <% for (let i = 0; i < cursos.length; i++) { %>
                    <option class="opciones" value="<%= cursos[i].id %>"><%= cursos[i].curso %></option>
                <% } %>
            </select>
            
            <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="ingrese su contraseña" required>
            <input class="boton_controles" type="submit"value="Registrar">
        </form>
        <a href="/inicarInstructor">Ya tengo cuenta</a>
    </section>
</body>
</html>